* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    
    /* for 480px or less */
@media screen and (max-width: 480px) {
    .sidebar {
        
    }
}
    
}

*, *:before, *:after {
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  box-sizing:  border-box;
  }


/*------------ Blog layout -----------*/

a {
    text-decoration: none;
    color: #FFD2AF;
}
a:hover,
a:focus {
    
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
 
}

.sidebar {
    background: #565A5C;
    color: #FFB174;
     position: fixed;
     width: 320px;
    height: 100%;
}

.brand-title,
.brand-tagline {
    margin: 0;
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.5em;
}
.brand-title {
    text-transform: none;
}
.brand-tagline {
    font-weight: 300;
    color: #FFD2AF;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}



.content { padding: 0px;
}



    
 .content {
    
        margin-left: 25%;
    } 
    
    }
    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }








/*------------parralax------------*/

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*------------------ sidebar- -----------------*/

.marque {
   margin-top: 30px;
    margin-bottom: 30px;
}

  .Navigation {
          /* To limit the menu width to the content of the menu: */
          display: inline-block;
          /* Or set the width explicitly: */
          /* width: 10em; */
      }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #565a5c;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    color: #FFB174;
}


.contact {
    color: #FFB174;
    position: relative;
    top: 100px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;

}

h5 {
    font-family: "Slabo 27px", sans-serif;
    border: 0px solid;
    font-size: 1.2em;
    padding:4px;
    text-align: center;
    
}

p {
   padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}


/*-------------BUTTON--------------*/

.button {
    
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    color: #565a5c;
    background-color: #FFB174;
    border-radius: 2px;
    padding: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    background-color: #FFD2AF;
    color: #565a5c;
}


.button2 {
    
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    color: white;
    background-color: #FFB174;
    border-radius: 2px;
    padding: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    background-color: #FFD2AF;
    color: white;
}


/
/*----------------------MAIN --------*/

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


h1 {
    font-family: "Slabo 27px", sans-serif;

}


h2 {
    font-family: "Slabo 27px", sans-serif;
    font-size: 4em;
    padding-top: 60px;
    color: #FFD2AF;
    
}

h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 90px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #565a5c;
    
}


p {
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    color: #565a5c;
}

h6 { font-family: 'Roboto', sans-serif;
     font-size: 1.2em;
     margin-left: 40px;
    margin-right: 33px;
    margin-bottom: 50px;
    
}

hr{
    color: #FFB174;
    background-color: #FFB174;
    width: 100%;
    height: 30%;
    
}



.me {
   
    margin-right: 60px;
    margin-left: 570px;
    margin-bottom: 17px;
}

.introme {
   
    margin-right: 350px;
    margin-top: -470px;
    margin-bottom: 43px;
}

/*------------------back/forward buttons----*/

.BACK {
    position: absolute;
    z-index: 1;
    left: 340px;
    top: 20px;

}

.FORWARD {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 20px;

}

/*--------------------portfolio----------*/

.parallax {
    padding-top: 100px;
}

.parallax2 {
    padding-top: 100px;
}

.parallax3 {
    padding-top: 100px;
}

.parallax4 {
    padding-top: 100px;
}


/*------------------mock ups-----------------*/

.mockupred {
    margin-top: 50px;
    margin-bottom: 50px;
   
}
/*-------------------------------------------------iShared page---------------------------------*/

.container {
    background-color: #FFD2AF;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 90px;
    padding-right: -90px;
}

.container1 {
    background-color: #FFD2AF;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: -90px;

}


.isharedback {
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.youtube {
    position: absolute;
    z-index: 2;
    left: 520px;
    top: 900px;
}

.ponce {
    margin-bottom: 30px;
}

/*------------------------CV COLUMS-----------------------*/


.cv1 {
   
    width: 35%;
    padding-left: 20px;
    margin-top: 100px;
}

.cv2 {
    
    width:60%;
    float: right;
    margin-top: -713px;
    padding-left: 40px;
    padding-right: 40px;
}

h7 {
    font-family: "Slabo 27px", sans-serif;
    color: #FFB174;
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 60px;
    
}

.PS {
    margin-left: 90px;
}

h8 {
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.1em;
    margin-left: 0px;
    margin-right: 20px;
    
}

.pcv {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 0.85em;
}




.basicBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #565A5C;
  font-family: "Roboto", serif;
 padding-left: 10px;
    padding-right: 10px;
  font-size: 1.em;
  line-height: 65px;
  text-align: center;
  position: relative;
    float: left;
    margin-right: 5px;
  
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #FFB174;
  stroke-width: 1;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #FFB174;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.s0 {
    margin-left: 90px;
}

.s1 {
    
}


/*---------------MODAL------------------*/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 40px;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*----------------------------footer------------*/



.social {
    margin-left: 25%;

}

footer {
    position: static;
   background-color: #FFD2AF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:
}

.twitter {
    padding-right: 20px;
}

.twitter:hover {
    padding-right: 20px;
    height: 40%
}

.instagram{
    padding-right: 20px;
}

.instagram:hover {
    padding-right: 20px;
    height: 20%
}

.dribble {}

.dribble:hover {
    height: 5%
}

/*----------------media queries----*/

/* for 480px or less */
@media screen and (max-width: 480px) {
    
    
     
    /*-------------about-----*/
    
    h2 {
    margin-top: 230px;
    font-size: 3em;
    
}
    h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.05em;
    
}
    
    .introme {
   
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
    
p {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    color: #565a5c;
}
    
    
    
    .me {
        visibility: hidden;
}

.introme {
   
    margin-right: 0px;
    margin-top: -210px;
    margin-bottom: 43px;
}
    
    .social {
    margin-left: 0px;

}
}




